.btn{
  display: block;
  border: none;
  padding: 0;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline-black{
  padding: 14px 23px;
  border: 2px solid #000000;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  transition: box-shadow .3s;
  &:hover,&:focus{
    box-shadow: 0 0 11px rgba(33,33,33,.3);
  }
}
