@font-face {
  font-family: 'Wigrum';
  src: url('../../fonts/Wigrum-Light.woff2') format('woff2'),
  url('../../fonts/Wigrum-Light.woff') format('woff'),
  url('../../fonts/Wigrum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('../../fonts/Wigrum-Black.woff2') format('woff2'),
  url('../../fonts/Wigrum-Black.woff') format('woff'),
  url('../../fonts/Wigrum-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('../../fonts/Wigrum-Regular.woff2') format('woff2'),
  url('../../fonts/Wigrum-Regular.woff') format('woff'),
  url('../../fonts/Wigrum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('../../fonts/Wigrum-Bold.woff2') format('woff2'),
  url('../../fonts/Wigrum-Bold.woff') format('woff'),
  url('../../fonts/Wigrum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('../../fonts/Wigrum-Medium.woff2') format('woff2'),
  url('../../fonts/Wigrum-Medium.woff') format('woff'),
  url('../../fonts/Wigrum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
