h1{
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  color: #000000;
}

h2{
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

h3{
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #000000;
}
